.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  min-height: 30%;
  background-color: var(--nav-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topLine {
  display: flex;
  justify-content: space-between;
}

.nameList {
  list-style: none;
}

.createNew {
  justify-self: flex-end;
  color: var(--button-light-color);
}

.createNew:hover {
  cursor: pointer;
  color: var(--button-dark-color);
}

.nameAndBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createPlaylistBtn {
  border: none;
  background-color: var(--button-dark-color);
  padding: 4px 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  font-weight: 700;
  justify-self: center;
}

.createPlaylistBtn:hover {
  background-color: var(--button-light-color);
}

input[type="text"]::placeholder {
  font-weight: 550;
  color: black;
}
