.carousel {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.carousel:hover {
  cursor: pointer;
}

.firstImage {
  max-width: 30rem;
}

.image {
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}

.text {
  font-size: 2rem;
}

.focus {
  color: var(--button-dark-color);
}
