.carousel {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  /* margin-top: -3rem; */
  margin: 0;
  padding: 0;
  /* height: 20vh; */
}

.carousel:hover {
  cursor: pointer;
}

.main {
  width: 100%;
  /* height: 55vh; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: initial;
}

.firstImage {
  max-width: 30rem;
}

.image {
  /* height: 55vh; */
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}

.text {
  font-size: 2rem;
}

.focus {
  color: var(--button-dark-color);
}

/* @media screen and (max-width: 950px) {
  .carousel {
    margin-top: -9rem;
  }
} */
