.carousel {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.carousel:hover {
  cursor: pointer;
}

.image {
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}
