.home {
  display: flex;
  flex-direction: column;
  position: relative;
}

.blur {
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.mainContainer {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 3rem;
  justify-content: center;
}
