.main {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.playingVideo {
  line-height: 0.96;
}

.relatedVideos {
  border: thick double var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  overflow-y: auto;
  height: 75%;
  background-color: var(--nav-text-color);
  transition-property: all;
  transition-duration: 1s;
}

.relatedVideosTitle {
  color: black;
  font-size: 1.5rem;
  font-weight: 700;
}

.relatedVideos:hover {
  padding: 1rem;
  row-gap: 1.5rem;
}

.videoTitle {
  font-size: x-large;
  font-weight: 400;
}

.videoContent {
  background-color: black;
  margin: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.present {
  color: var(--button-light-color);
}

.absent {
  color: white;
}
