.main {
  display: flex;
  justify-content: space-evenly;
}

.playingVideo {
  line-height: 0.96;
}

.videoTitle {
  font-size: x-large;
  font-weight: 400;
}

.videoContent {
  background-color: var(--nav-color);
  margin: 0;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.present {
  color: var(--button-light-color);
}

.absent {
  color: white;
}
