.navContainer {
  display: flex;
  background-color: var(--nav-color);
  background-color: var(--background-color);
  padding: 0 var(--nav-side-padding);
  justify-content: space-between;
  top: 0px;
  position: sticky;
  margin-bottom: 0.7rem;
  z-index: 3;
}

.topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  max-width: 45vw;
}

.hamburger {
  display: none;
}

.hamburger:hover {
  cursor: pointer;
}

.hamburgerMenu {
  position: absolute;
  min-width: 6rem;
  min-height: 100vh;
  background-color: var(--nav-color);
  margin-top: 0;
  top: 5rem;
  left: 0;
  z-index: 3;
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.hamburgerMenuLogo {
  display: flex;
  justify-content: space-between;
}

.close:hover {
  cursor: pointer;
}

.noDisplay {
  display: none;
}

.hamburgerMenu li {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.active {
  background-color: var(--active-color);
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
}

.hamburgerMenu a {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.hamburgerMenu p {
  color: var(--nav-text-color);
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0;
}

.hamburgerMenu p:hover {
  cursor: pointer;
}

.bottomLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 37vw;
  flex-grow: 1;
  column-gap: 1rem;
}

.logo {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--text-color);
}

.option {
  color: var(--nav-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.12rem;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  width: fit-content;
  background: linear-gradient(
    to top,
    var(--background-color),
    var(--dropdown-category-background-color)
  );
  display: none;
  border-radius: 0.3rem;
}

.dropdown:hover .dropdownContent {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.searchBar {
  width: 30vw;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchInput {
  width: 26vw;
  height: 1.8rem;
  border: none;
  outline: none;
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: 2px solid var(--button-dark-color);
}

.searchIcon {
  color: #8e8e8e;
  position: absolute;
  margin-right: 0.5rem;
}

.login {
  background-color: var(--button-dark-color);
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}

.login:hover {
  background-color: var(--button-light-color);
}

@media screen and (max-width: 1350px) {
  .hamburger {
    display: block;
  }
  .option {
    display: none;
  }
  .topLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .searchBar {
    display: none;
  }

  .bottomLine {
    flex-grow: 0;
  }
}
