.videoCard {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 10.547rem;
  justify-content: flex-end;
  border-radius: 0.5rem;
  transition-property: all;
  transition-duration: 1s;
}

.videoCardWithoutHover {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  width: 18.75rem;
  height: 10.547rem;
  justify-content: flex-end;
  border-radius: 0.5rem;
}

img,
.thumbnail {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.videoAction {
  display: none;
}

.videoAction button {
  background: transparent;
  border: none;
  color: var(--card-text-color);
}

.videoAction button:hover {
  background: var(--card-button-background-hover-color);
  border: none;
  border-radius: 1rem;
}

.videoCard:hover .videoAction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.videoCard:hover {
  transform: scale(1.1);
}
