.signupPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: var(--nav-color);
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 2rem 2rem 5rem 2rem;
  row-gap: 2rem;
  border-radius: 1.5rem;
}

.title {
  font-size: 1.4rem;
  align-self: center;
}

.name {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.name div {
  flex-grow: 1;
}

.form h2 {
  margin: auto;
}

.form input {
  border-radius: 0.5rem;
  height: 2rem;
  display: block;
  width: 100%;
}

.form button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;
  font-size: 1rem;
}

.signupBtn {
  background-color: var(--button-dark-color);
  color: var(--text-color);
}

.signupBtn:hover {
  background-color: var(--button-light-color);
}

.loginLine {
  align-self: center;
  font-size: 1.1rem;
}

.login {
  color: var(--button-dark-color);
  text-decoration: none;
}
